forge*/MinecraftForge-Changelog.txt
forge*/MinecraftForge-Credits.txt
forge*/MinecraftForge-License.txt
forge*/Paulscode IBXM Library License.txt
forge*/Paulscode SoundSystem CodecIBXM License.txt
forge*/README-MinecraftForge.txt
forge*/client/
forge*/common/
forge*/fml/
forge*/forge.py
forge*/forge.pyc
forge*/forgeversion.properties
forge*/install.cmd
forge*/install.py
forge*/install.sh
forge*/mcp/CHANGELOG
forge*/mcp/LICENSE.txt
forge*/mcp/bin/
forge*/mcp/cleanup.bat
forge*/mcp/cleanup.sh
forge*/mcp/conf/
forge*/mcp/decompile.bat
forge*/mcp/decompile.sh
forge*/mcp/docs/
forge*/mcp/eclipse/
forge*/mcp/getchangedsrc.bat
forge*/mcp/getchangedsrc.sh
forge*/mcp/jars/
forge*/mcp/lib/
forge*/mcp/logs/
forge*/mcp/recompile.bat
forge*/mcp/recompile.sh
forge*/mcp/reformat.bat
forge*/mcp/reformat.sh
forge*/mcp/reobf/
forge*/mcp/reobfuscate.bat
forge*/mcp/reobfuscate.sh
forge*/mcp/reobfuscate_srg.*
forge*/mcp/runtime/
forge*/mcp/src/minecraft/README.md
forge*/mcp/src/minecraft/Start.java
forge*/mcp/src/minecraft/cpw/
forge*/mcp/src/minecraft/fml_at.cfg
forge*/mcp/src/minecraft/fml_marker.cfg
forge*/mcp/src/minecraft/fmlversion.properties
forge*/mcp/src/minecraft/forge_at.cfg
forge*/mcp/src/minecraft/forge_logo.png
forge*/mcp/src/minecraft/ibxm/
forge*/mcp/src/minecraft/mcp.png
forge*/mcp/src/minecraft/mcpmod.info
forge*/mcp/src/minecraft/net/
forge*/mcp/src/minecraft/paulscode/
forge*/mcp/startclient.bat
forge*/mcp/startclient.sh
forge*/mcp/startserver.bat
forge*/mcp/startserver.sh
forge*/mcp/temp/
forge*/mcp/updateids.bat
forge*/mcp/updateids.sh
forge*/mcp/updatemcp.bat
forge*/mcp/updatemcp.sh
forge*/mcp/updatemd5.bat
forge*/mcp/updatemd5.sh
forge*/mcp/updatenames.bat
forge*/mcp/updatenames.sh
forge*/patches/
